XCYN.Print/Connected Services/StockServiceReference/StockService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://XCYNService" elementFormDefault="qualified" targetNamespace="http://XCYNService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StockPrice">
    <xs:sequence>
      <xs:element name="CurrentPrice" type="xs:double" />
      <xs:element name="CurrentTime" type="xs:dateTime" />
      <xs:element name="Ticker" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DailyVolume" type="xs:long" />
      <xs:element minOccurs="0" name="DailyChange" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StockPrice" nillable="true" type="tns:StockPrice" />
</xs:schema>