XCYN.Print/Connected Services/AllServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AllService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="FastAllService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAllService_GetPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrice" />
  </wsdl:message>
  <wsdl:message name="IAllService_GetPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPriceResponse" />
  </wsdl:message>
  <wsdl:message name="IAllService_DoBigAnalysisFast_InputMessage">
    <wsdl:part name="parameters" element="tns:DoBigAnalysisFast" />
  </wsdl:message>
  <wsdl:message name="IAllService_DoBigAnslysisSlow_InputMessage">
    <wsdl:part name="parameters" element="tns:DoBigAnslysisSlow" />
  </wsdl:message>
  <wsdl:message name="IAllService_DoBigAnslysisSlow_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoBigAnslysisSlowResponse" />
  </wsdl:message>
  <wsdl:message name="IAllService_GetOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrder" />
  </wsdl:message>
  <wsdl:message name="IAllService_GetOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="IAllService">
    <wsdl:operation name="GetPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockService/GetPrice" message="tns:IAllService_GetPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockService/GetPriceResponse" message="tns:IAllService_GetPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoBigAnalysisFast">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockService/DoBigAnalysisFast" message="tns:IAllService_DoBigAnalysisFast_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoBigAnslysisSlow">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockService/DoBigAnslysisSlow" message="tns:IAllService_DoBigAnslysisSlow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockService/DoBigAnslysisSlowResponse" message="tns:IAllService_DoBigAnslysisSlow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/GetOrder" message="tns:IAllService_GetOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/GetOrderResponse" message="tns:IAllService_GetOrder_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GreatAllService" type="tns:IAllService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPrice">
      <soap:operation soapAction="http://tempuri.org/IStockService/GetPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoBigAnalysisFast">
      <soap:operation soapAction="http://tempuri.org/IStockService/DoBigAnalysisFast" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="DoBigAnslysisSlow">
      <soap:operation soapAction="http://tempuri.org/IStockService/DoBigAnslysisSlow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderService/GetOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FastAllService" type="tns:IAllService">
    <wsp:PolicyReference URI="#FastAllService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetPrice">
      <soap12:operation soapAction="http://tempuri.org/IStockService/GetPrice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoBigAnalysisFast">
      <soap12:operation soapAction="http://tempuri.org/IStockService/DoBigAnalysisFast" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="DoBigAnslysisSlow">
      <soap12:operation soapAction="http://tempuri.org/IStockService/DoBigAnslysisSlow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrder">
      <soap12:operation soapAction="http://tempuri.org/IOrderService/GetOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AllService">
    <wsdl:port name="GreatAllService" binding="tns:GreatAllService">
      <soap:address location="http://localhost:8733/AllService/" />
    </wsdl:port>
    <wsdl:port name="FastAllService" binding="tns:FastAllService">
      <soap12:address location="net.tcp://localhost:8734/AllService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8734/AllService/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>